- clients.each do |client|
  - Organization.switch_to(client.slug.split('-').first)
  %tr{ 'data-href' => client_path(client) }
    - if params[:columns].nil? || params[:columns][:age] == '1'
      %td= client.age_as_years
    - if params[:columns].nil? || params[:columns][:gender] == '1'
      %td= client.gender.try(:titleize)
    - if params[:columns].nil? || params[:columns][:district] == '1'
      %td= client.district_name
    - if params[:columns].nil? || params[:columns][:current_province] == '1'
      %td= client.province_name

