%th=t('.slug')
%th=t('.age')
%th=t('.gender')
%th=t('.status')
%th=t('.birth_province')
%th=t('.current_province')
%th=t('.district')
%th=t('.referral_source_category')
%th=t('.reason_for_family_separation')
%th=t('.history_of_harm')
%th=t('.history_of_disability_and_or_illness')
%th=t('.history_of_high_risk_behaviours')
%th=t('.carer_relationship_to_client')
%th=t('.assessment_date')
%th=t('.number_active_program')
%th=t('.all_csi_assessments')
= domain_header
%th=t('.current_service_types')
%th=t('.past_service_types')
%th=t('.exit_circumstance')
%th=t('.exit_reasons')

