%th.family_name
  =t('.age')
  .pull-right
    = render 'order', column: :age
%th.family_name
  =t('.gender')
  .pull-right
    = render 'order', column: :gender
%th.family_name
  =t('.status')
  .pull-right
    = render 'order', column: :status
%th.birth_province
  =t('.current_province')
%th.birth_province
  =t('.current_district')
